In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
footie = pd.read_csv('https://raw.githubusercontent.com/footballcsv/england/master/2010s/2019-20/eng.1.csv')
footie

     Round             Date               Team 1   FT                Team 2
0        1   Fri Aug 9 2019         Liverpool FC  4-1       Norwich City FC
1        1  Sat Aug 10 2019   West Ham United FC  0-5    Manchester City FC
2        1  Sat Aug 10 2019           Burnley FC  3-0        Southampton FC
3        1  Sat Aug 10 2019      AFC Bournemouth  1-1   Sheffield United FC
4        1  Sat Aug 10 2019    Crystal Palace FC  0-0            Everton FC
..     ...              ...                  ...  ...                   ...
375     38  Sun Jul 26 2020    Leicester City FC  0-2  Manchester United FC
376     38  Sun Jul 26 2020   Manchester City FC  5-0       Norwich City FC
377     38  Sun Jul 26 2020  Newcastle United FC  1-3          Liverpool FC
378     38  Sun Jul 26 2020       Southampton FC  3-1   Sheffield United FC
379     38  Sun Jul 26 2020   West Ham United FC  1-1        Aston Villa FC

[380 rows x 5 columns]

In [3]:
# this func will split the 'ft' column into 'home' and 'away' columns

def mr_split(params):
    params['home'] = params['FT'].split('-')[0]
    params['away'] = params['FT'].split('-')[-1]
      
    return params

footie2 = footie.apply(mr_split, 1)

In [4]:
# creating home winners dataframe...

home_winner = footie2[footie2['home'] > footie2['away']]
home_winner['winner'] = home_winner['Team 1']
home_winner['goals'] = home_winner['home']
home_winner

,Round,Date,Team 1,FT,Team 2,home,away,winner,goals
0,1,Fri Aug 9 2019,Liverpool FC,4-1,Norwich City FC,4,1,Liverpool FC,4
2,1,Sat Aug 10 2019,Burnley FC,3-0,Southampton FC,3,0,Burnley FC,3
6,1,Sat Aug 10 2019,Tottenham Hotspur FC,3-1,Aston Villa FC,3,1,Tottenham Hotspur FC,3
9,1,Sun Aug 11 2019,Manchester United FC,4-0,Chelsea FC,4,0,Manchester United FC,4
10,2,Sat Aug 17 2019,Arsenal FC,2-1,Burnley FC,2,1,Arsenal FC,2
...,...,...,...,...,...,...,...,...,...
369,37,Wed Jul 22 2020,Liverpool FC,5-3,Chelsea FC,5,3,Liverpool FC,5
370,38,Sun Jul 26 2020,Arsenal FC,3-2,Watford FC,3,2,Arsenal FC,3
372,38,Sun Jul 26 2020,Chelsea FC,2-0,Wolverhampton Wanderers FC,2,0,Chelsea FC,2
376,38,Sun Jul 26 2020,Manchester City FC,5-0,Norwich City FC,5,0,Manchester City FC,5
378,38,Sun Jul 26 2020,Southampton FC,3-1,Sheffield United FC,3,1,Southampton FC,3

In [5]:
# creating home losers dataframe...

home_loser = footie2[footie2['home'] < footie2['away']]
home_loser['loser'] = home_loser['Team 1']
home_loser['goals against'] = home_loser['away']
home_loser

,Round,Date,Team 1,FT,Team 2,home,away,loser,goals against
1,1,Sat Aug 10 2019,West Ham United FC,0-5,Manchester City FC,0,5,West Ham United FC,5
5,1,Sat Aug 10 2019,Watford FC,0-3,Brighton & Hove Albion FC,0,3,Watford FC,3
8,1,Sun Aug 11 2019,Newcastle United FC,0-1,Arsenal FC,0,1,Newcastle United FC,1
13,2,Sat Aug 17 2019,Aston Villa FC,1-2,AFC Bournemouth,1,2,Aston Villa FC,2
15,2,Sat Aug 17 2019,Southampton FC,1-2,Liverpool FC,1,2,Southampton FC,2
...,...,...,...,...,...,...,...,...,...
366,37,Tue Jul 21 2020,Watford FC,0-4,Manchester City FC,0,4,Watford FC,4
371,38,Sun Jul 26 2020,Burnley FC,1-2,Brighton & Hove Albion FC,1,2,Burnley FC,2
374,38,Sun Jul 26 2020,Everton FC,1-3,AFC Bournemouth,1,3,Everton FC,3
375,38,Sun Jul 26 2020,Leicester City FC,0-2,Manchester United FC,0,2,Leicester City FC,2
377,38,Sun Jul 26 2020,Newcastle United FC,1-3,Liverpool FC,1,3,Newcastle United FC,3

In [6]:
# creating away winners dataframe...

away_winner = footie2[footie2['away'] > footie2['home']]
away_winner['winner'] = away_winner['Team 2']
away_winner['goals'] = away_winner['away']
away_winner

,Round,Date,Team 1,FT,Team 2,home,away,winner,goals
1,1,Sat Aug 10 2019,West Ham United FC,0-5,Manchester City FC,0,5,Manchester City FC,5
5,1,Sat Aug 10 2019,Watford FC,0-3,Brighton & Hove Albion FC,0,3,Brighton & Hove Albion FC,3
8,1,Sun Aug 11 2019,Newcastle United FC,0-1,Arsenal FC,0,1,Arsenal FC,1
13,2,Sat Aug 17 2019,Aston Villa FC,1-2,AFC Bournemouth,1,2,AFC Bournemouth,2
15,2,Sat Aug 17 2019,Southampton FC,1-2,Liverpool FC,1,2,Liverpool FC,2
...,...,...,...,...,...,...,...,...,...
366,37,Tue Jul 21 2020,Watford FC,0-4,Manchester City FC,0,4,Manchester City FC,4
371,38,Sun Jul 26 2020,Burnley FC,1-2,Brighton & Hove Albion FC,1,2,Brighton & Hove Albion FC,2
374,38,Sun Jul 26 2020,Everton FC,1-3,AFC Bournemouth,1,3,AFC Bournemouth,3
375,38,Sun Jul 26 2020,Leicester City FC,0-2,Manchester United FC,0,2,Manchester United FC,2
377,38,Sun Jul 26 2020,Newcastle United FC,1-3,Liverpool FC,1,3,Liverpool FC,3

In [7]:
# creating away losers dataframe...

away_loser = footie2[footie2['away'] < footie2['home']]
away_loser['loser'] = away_loser['Team 2']
away_loser['goals against'] = away_loser['home']
away_loser

,Round,Date,Team 1,FT,Team 2,home,away,loser,goals against
0,1,Fri Aug 9 2019,Liverpool FC,4-1,Norwich City FC,4,1,Norwich City FC,4
2,1,Sat Aug 10 2019,Burnley FC,3-0,Southampton FC,3,0,Southampton FC,3
6,1,Sat Aug 10 2019,Tottenham Hotspur FC,3-1,Aston Villa FC,3,1,Aston Villa FC,3
9,1,Sun Aug 11 2019,Manchester United FC,4-0,Chelsea FC,4,0,Chelsea FC,4
10,2,Sat Aug 17 2019,Arsenal FC,2-1,Burnley FC,2,1,Burnley FC,2
...,...,...,...,...,...,...,...,...,...
369,37,Wed Jul 22 2020,Liverpool FC,5-3,Chelsea FC,5,3,Chelsea FC,5
370,38,Sun Jul 26 2020,Arsenal FC,3-2,Watford FC,3,2,Watford FC,3
372,38,Sun Jul 26 2020,Chelsea FC,2-0,Wolverhampton Wanderers FC,2,0,Wolverhampton Wanderers FC,2
376,38,Sun Jul 26 2020,Manchester City FC,5-0,Norwich City FC,5,0,Norwich City FC,5
378,38,Sun Jul 26 2020,Southampton FC,3-1,Sheffield United FC,3,1,Sheffield United FC,3

In [8]:
# merging the winners dataframe & getting total goals...

merger = pd.merge(left=home_winner, right=away_winner, on=['Round', 'Date', 'winner', 'goals'], how='outer')
merger.drop(
    columns=[ 'Team 1_x', 'FT_x', 'Team 2_x', 'home_x', 'away_x',
                     'Team 1_y', 'FT_y', 'Team 2_y', 'home_y', 'away_y'],
                    inplace=True)

df = merger
df['goals'] = df['goals'].astype(int)

df = df.groupby('winner')[['goals']].apply(np.sum)
df.reset_index(inplace=True)
df.rename(
columns=
{'winner': 'Team',
'goals': 'Goals for'},
inplace=True)
df.rename(
columns={
    'Team': 'Teams'
}, inplace=True)

df

                         Teams  Goals for
0              AFC Bournemouth         22
1                   Arsenal FC         33
2               Aston Villa FC         19
3    Brighton & Hove Albion FC         20
4                   Burnley FC         28
5                   Chelsea FC         51
6            Crystal Palace FC         17
7                   Everton FC         25
8            Leicester City FC         55
9                 Liverpool FC         82
10          Manchester City FC         89
11        Manchester United FC         50
12         Newcastle United FC         21
13             Norwich City FC         10
14         Sheffield United FC         24
15              Southampton FC         31
16        Tottenham Hotspur FC         42
17                  Watford FC         19
18          West Ham United FC         26
19  Wolverhampton Wanderers FC         33

In [9]:
# merging the losers dataframe & getting total against...

loss_merger = pd.merge(left=home_loser, right=away_loser, on=['Round', 'Date', 'loser', 'goals against'], how='outer')
loss_merger.drop(
    columns=[ 'Team 1_x', 'FT_x', 'Team 2_x', 'home_x', 'away_x',
                     'Team 1_y', 'FT_y', 'Team 2_y', 'home_y', 'away_y'],
                    inplace=True)
df2 = loss_merger
df2['goals against'] = df2['goals against'].astype(int)

df2 = df2.groupby('loser')[['goals against']].apply(np.sum)
df2.reset_index(inplace=True)
df2.rename(
columns=
{'loser': 'Teams'},
inplace=True)

df2

                         Teams  goals against
0              AFC Bournemouth             52
1                   Arsenal FC             21
2               Aston Villa FC             55
3    Brighton & Hove Albion FC             36
4                   Burnley FC             40
5                   Chelsea FC             29
6            Crystal Palace FC             37
7                   Everton FC             39
8            Leicester City FC             27
9                 Liverpool FC              9
10          Manchester City FC             20
11        Manchester United FC             14
12         Newcastle United FC             43
13             Norwich City FC             66
14         Sheffield United FC             23
15              Southampton FC             45
16        Tottenham Hotspur FC             22
17                  Watford FC             54
18          West Ham United FC             45
19  Wolverhampton Wanderers FC             20

In [10]:
#getting total wins...

total_wins = merger['winner'].value_counts()
wins_df = pd.DataFrame(data=total_wins)
wins_df.reset_index(inplace=True)
wins_df.rename(
columns=
    {'index': 'Teams', 
    'winner': 'Total wins'}, inplace=True
)

wins_df

                         Teams  Total wins
0                 Liverpool FC          32
1           Manchester City FC          26
2                   Chelsea FC          20
3            Leicester City FC          18
4         Manchester United FC          18
5         Tottenham Hotspur FC          16
6   Wolverhampton Wanderers FC          15
7               Southampton FC          15
8                   Burnley FC          15
9                   Arsenal FC          14
10         Sheffield United FC          14
11                  Everton FC          13
12         Newcastle United FC          11
13           Crystal Palace FC          11
14          West Ham United FC          10
15   Brighton & Hove Albion FC           9
16              Aston Villa FC           9
17             AFC Bournemouth           9
18                  Watford FC           8
19             Norwich City FC           5

In [11]:
#  getting total wins & goals

df = df.merge(wins_df, on='Teams', how='outer')
df = df[['Teams', 'Total wins', 'Goals for']]
df = df.sort_values(by='Total wins', ascending=False)
df.reset_index(drop=True, inplace=True)

df

                         Teams  Total wins  Goals for
0                 Liverpool FC          32         82
1           Manchester City FC          26         89
2                   Chelsea FC          20         51
3            Leicester City FC          18         55
4         Manchester United FC          18         50
5         Tottenham Hotspur FC          16         42
6               Southampton FC          15         31
7   Wolverhampton Wanderers FC          15         33
8                   Burnley FC          15         28
9                   Arsenal FC          14         33
10         Sheffield United FC          14         24
11                  Everton FC          13         25
12           Crystal Palace FC          11         17
13         Newcastle United FC          11         21
14          West Ham United FC          10         26
15   Brighton & Hove Albion FC           9         20
16              Aston Villa FC           9         19
17             AFC Bournemouth           9         22
18                  Watford FC           8         19
19             Norwich City FC           5         10

In [12]:
# getting draws dataframe...

draws = footie2[footie2['home'] == footie2['away']]
draws.drop(columns = ['home', 'away'], inplace=True)
draws.reset_index(drop=True, inplace=True)
draws

total_draws = draws['Team 1'].value_counts() + draws['Team 2'].value_counts()
draws_df = pd.DataFrame(total_draws)
draws_df.reset_index(inplace=True)
draws_df.rename(columns=
               {'index': 'Teams',
               0: 'Draws'}, inplace=True
               )

draws_df

                         Teams  Draws
0              AFC Bournemouth      7
1                   Arsenal FC     14
2               Aston Villa FC      8
3    Brighton & Hove Albion FC     14
4                   Burnley FC      9
5                   Chelsea FC      6
6            Crystal Palace FC     10
7                   Everton FC     10
8            Leicester City FC      8
9                 Liverpool FC      3
10          Manchester City FC      3
11        Manchester United FC     12
12         Newcastle United FC     11
13             Norwich City FC      6
14         Sheffield United FC     12
15              Southampton FC      7
16        Tottenham Hotspur FC     11
17                  Watford FC     10
18          West Ham United FC      9
19  Wolverhampton Wanderers FC     14

In [13]:
# getting the standings...

merge1= df.merge(draws_df)
merge1.rename(columns=
             {'Total wins': 'Wins'}, inplace=True)

merge1['Loss'] = 38 - (merge1['Wins'] + merge1['Draws']) # there are 38 total matches in a season

# the func below will create a 'total' column from wins & draws

def add_up(params):
    params['Total'] =( params['Wins']*3) + params['Draws']
    return params

merge1 = merge1.groupby('Teams').apply(add_up)
final_standings = merge1.sort_values(by='Total', ascending=False)
final_standings.reset_index(drop=True, inplace=True)
final_standings

                         Teams  Wins  Goals for  Draws  Loss  Total
0                 Liverpool FC    32         82      3     3     99
1           Manchester City FC    26         89      3     9     81
2                   Chelsea FC    20         51      6    12     66
3         Manchester United FC    18         50     12     8     66
4            Leicester City FC    18         55      8    12     62
5         Tottenham Hotspur FC    16         42     11    11     59
6   Wolverhampton Wanderers FC    15         33     14     9     59
7                   Arsenal FC    14         33     14    10     56
8          Sheffield United FC    14         24     12    12     54
9                   Burnley FC    15         28      9    14     54
10              Southampton FC    15         31      7    16     52
11                  Everton FC    13         25     10    15     49
12         Newcastle United FC    11         21     11    16     44
13           Crystal Palace FC    11         17     10    17     43
14   Brighton & Hove Albion FC     9         20     14    15     41
15          West Ham United FC    10         26      9    19     39
16              Aston Villa FC     9         19      8    21     35
17             AFC Bournemouth     9         22      7    22     34
18                  Watford FC     8         19     10    20     34
19             Norwich City FC     5         10      6    27     21

In [14]:
# CAVEAT!!! 
# Chelsea had more wins, than Manutd, but the latter had more draws, and llesser losses
# In addition, Manutd had more goal difference(Goals for minus Goals against). This is why they finish above Chelsea
# Similar patterns noticed between Tottenham & Wolves, Sheffield & Burnley, Bournemouth & Watford(although they both relegated)

final_standings = final_standings.merge(df2, on='Teams', how='outer')
final_standings['GD'] =final_standings['Goals for'] - final_standings['goals against']
final_standings.rename(
columns=
{'Goals for': 'GF',
'goals against': 'GA'},
inplace=True)

keep2 = ['Teams', 'Wins', 'Draws', 'Loss', 'GF', 'GA', 'GD', 'Total']
final_standings = final_standings[keep2]
final_standings = final_standings.sort_values(by=['Total', 'GD'], ascending=[False, False])
final_standings

                         Teams  Wins  Draws  Loss  GF  GA  GD  Total
0                 Liverpool FC    32      3     3  82   9  73     99
1           Manchester City FC    26      3     9  89  20  69     81
3         Manchester United FC    18     12     8  50  14  36     66
2                   Chelsea FC    20      6    12  51  29  22     66
4            Leicester City FC    18      8    12  55  27  28     62
5         Tottenham Hotspur FC    16     11    11  42  22  20     59
6   Wolverhampton Wanderers FC    15     14     9  33  20  13     59
7                   Arsenal FC    14     14    10  33  21  12     56
8          Sheffield United FC    14     12    12  24  23   1     54
9                   Burnley FC    15      9    14  28  40 -12     54
10              Southampton FC    15      7    16  31  45 -14     52
11                  Everton FC    13     10    15  25  39 -14     49
12         Newcastle United FC    11     11    16  21  43 -22     44
13           Crystal Palace FC    11     10    17  17  37 -20     43
14   Brighton & Hove Albion FC     9     14    15  20  36 -16     41
15          West Ham United FC    10      9    19  26  45 -19     39
16              Aston Villa FC     9      8    21  19  55 -36     35
17             AFC Bournemouth     9      7    22  22  52 -30     34
18                  Watford FC     8     10    20  19  54 -35     34
19             Norwich City FC     5      6    27  10  66 -56     21